<li id="map-{{id}}">
	<h3>#{{id}} {{name}}</h3>
	<h4>by <i>{{pseudo}}</i> <time class="timeago" datetime="{{date}}">{{dateString}} {{timeString}}</time></h4>
	<img src="{{image}}" alt="imagemap n°{{id}}" usemap="#{{imageId}}">
	{{{html}}}
</li>